:host ::ng-deep {
  .mat-form-field-appearance-legacy {
    .mat-form-field-prefix {
      align-self: flex-end;
      line-height: 1.5;
    }
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0 0 0.4em 0 !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
  }
  .mat-form-field {
    font-size: 14px;
    line-height: 24px;

    span {
      position: relative;
      top: 2px;
    }
  }
}